<%- include header %>

<!-- //序号、书名、作者（编著）、出版社、出版日期  bookNumber, bookName,bookAuthor,bookPublish,bookPubDate-->
<form method="post">
   序号：<br />
  <input type="text" name="bookNumber" /><br />
   书名：<br />
  <input type="text" name="bookName" /><br />
   作者：<br />
  <input type="text" name="bookAuthor" /><br />
   出版社：<br />
  <input type="text" name="bookPublish" /><br />
   出版日期：<br />
  <input type="text" name="bookPubDate" /><br />

  <input type="submit" value="add" />
</form>
<%- include footer %>